@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
:root {
  --font-logo: Cinzel;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}
